@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
#content {
   max-width: 1600px;
   margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

main section {
    text-align: center;
}

header {
  display: flex;
  flex-direction: column; /* stack logo and nav vertically */
  align-items: center;    /* center horizontally */
  background-color: rgb(106, 106, 214);
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.logo {
  display: block;
  margin: 0 auto; /* ensures the image itself is centered */
}

body {
    background-color: black;
    font-family: "Work Sans", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: rgb(106, 106, 214);
    display: grid;
    grid-template-columns: 150px auto;
    color: white;
}

#logo_link {
  flex: 1;                       
  text-align: center;          
}

nav {
  flex: 1;                     
  text-align: right;             
}

nav a {
  margin-left: 20px;          
  text-decoration: none;
  color: white;                    
}

nav a:hover {
    background-color: #711e80;
    color: white;
}

footer {
    background-color: rgb(106, 106, 214);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    margin-top: 200px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #711e80;
}

.msg h2 {
    color: black;
    font-family: "Gloria Hallelujah";
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

h4 {
    color: white;
    font-family: "Gloria Hallelujah";
}

.home-title {
    color: white;
    font-family: "Gloria Hallelujah";
    font-size: 2em;
    margin: 0;
}

#title-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0;
}

footer .social img {
    padding-top: 15px;
}

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#home_title {
    text-align: center;
}

#home_subtitle_why_go {
    text-align: center;
}

#home_paragraph_why_go {
    text-align: center;
}

.home_content {
    font-family: sans-serif;
    padding-left: 50px;
}

.community_content {
    text-align: center;
    padding-left: 50px;
}

.consistent_content {
    text-align: center;
    padding-left: 50px;
}

#consistent_images img {
  width: 800px;           
  height: 700px;         
  object-fit: cover;      
  border-radius: 8px;     
}

#consistent_images {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 80px;              
  margin-top: 20px;
}

#community_image {
    width: 800px;
    height: 700px;
    object-fit: cover;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
}